@inherits ComponentControlBase

@if (Panels != null)
{
    <CascadingValue Value=this>
        @Panels
    </CascadingValue>
}

<div @attributes="AdditionalAttributes"
     class ="@GetTabsClass()" style="@GetTabsStyle()">
    <div class="@GetHeaderClass()" style="@GetHeaderStyle()" role="tablist">
        @foreach (TabPanel tabPanel in _panels)
        {
            <button type="button" role="tab"
                    id="@tabPanel.HeaderUniqueId"
                    class="@GetButtonClass(tabPanel)" style="@GetButtonStyle(tabPanel)"
                    tabindex="@(tabPanel.Selected ? 0 : -1)"
                    aria-selected="@tabPanel.Selected" aria-controls="@tabPanel.UniqueId"
                    @onclick="@(() => ActivatePage(tabPanel))"
                    @onkeydown="@(async arg => await OnKeyDown(arg))"
                    @onkeydown:preventDefault="true"
                    @onkeydown:stopPropagation="true">
                @if (tabPanel.HeaderTemplate == null)
                {
                    <span class="@GetButtonTitleClass(tabPanel)" style="@GetButtonTitleStyle(tabPanel)">
                        @((MarkupString)tabPanel.Title!)
                    </span>
                }
                else
                {
                    @tabPanel.HeaderTemplate
                }
            </button>
        }
    </div>

    @if (ActivePanel != null)
    {
        <div @attributes="this.ActivePanel.AdditionalAttributes"
             id="@ActivePanel.UniqueId" 
             class="@GetTabPanelClass(ActivePanel)" style="@GetTabPanelStyle(ActivePanel)"
             tabindex="0" role="tabpanel"
             aria-labelledby="@ActivePanel.HeaderUniqueId">
            @ActivePanel.ChildContent
        </div>
    }
</div>